version: "2"

services:
  mysql:
    image: "mysql:5.7"
    ports:
    - "3306:3306"
    environment:
    - "MYSQL_ALLOW_EMPTY_PASSWORD=yes"
    - "MYSQL_DATABASE=dev"
    - "MYSQL_USER=dev"
    - "MYSQL_PASSWORD=dev"
    volumes:
    - mysql:/var/lib/mysql

  redis:
    image: "redis:3.0"
    ports:
    - "6379:6379"

  bluesteel-signup-intake:
    image: "node:alpine"
    working_dir: /home/node/app
    volumes:
    - "./:/home/node/app"
    command: "node_modules/nodemon/bin/nodemon ./signups/server"
    env_file:
    - "./.dev.env"
    ports:
    - "4343:4343"

  bluesteel-migrate:
    image: "node:alpine"
    working_dir: /home/node/app
    volumes:
    - "./:/home/node/app"
    command: "node ./modules/migrate"
    env_file:
    - "./.dev.env"

  bluesteel-upload:
    image: "node:alpine"
    working_dir: /home/node/app
    volumes:
    - "./:/home/node/app"
    - "upload:/tmp/bluesteel/files"
    command: "node_modules/nodemon/bin/nodemon ./upload/cli"
    env_file:
    - "./.dev.env"
    ports:
    - "4000:4000"

  bluesteel-job-manager:
    image: "node:alpine"
    working_dir: /home/node/app
    volumes:
    - "./:/home/node/app"
    command: "node_modules/nodemon/bin/nodemon ./jobs-manager/cli manager"
    env_file:
    - "./.dev.env"

  bluesteel-job-client:
    image: "node:alpine"
    working_dir: /home/node/app
    volumes:
    - "./:/home/node/app"
    - "upload:/tmp/bluesteel/files"
    command: "node_modules/nodemon/bin/nodemon ./jobs-manager/cli client"
    env_file:
    - "./.dev.env"

  bluesteel-core:
    image: "node:alpine"
    ports:
    - "5000:5000"
    working_dir: /home/node/app
    volumes:
    - "./:/home/node/app"
    command: "node_modules/nodemon/bin/nodemon ./app/"
    stop_signal: "-9"
    env_file:
    - "./.dev.env"

volumes:
  mysql:
  upload:
